:root
{
    --primary-color: #61481C;
    --secondary-color: #A47E3B;
    --third-color: #BF9742;
    --fourth-color: #E6B325;
}

*
{
    scroll-behavior: smooth;
}


.nav
{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 5em;
    justify-content: space-between;
    align-items: center;
}

.nav .contenedor_logo .nav_img 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5em;
}

.nav .link_turno
{
    color: var(--fourth-color);
    text-decoration: none;
    position: relative;
    transition: color .4s;
    
}


.nav .link_turno:hover
{
    color: var(--third-color);
}



#img
{
    height: 40em;
}

#header_container
{
    position: relative;
    display: flex;
    align-items: flex-start;
}

.text
{
    top: 9em;
    left: 5em;
    width: 70%;
    letter-spacing: 10px;
    font-size: 25px;
    position: absolute;
    color: #fff;
    z-index: 100;
}

.main
{
    padding: 3em 5em;
}

.color
{
    padding:  2em 0 ;
    color: var(--primary-color);
    position: relative;
    width: fit-content;
    cursor: pointer;

}

.color::after
{
    content: '';
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 0;
    height: 6px;
    border-radius: 10px;
    background-color: var(--third-color);
    transition: all .4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.color:hover::after
{
    width: 80%;
}

.main p
{
    font-size: 1.2em;
}

.oferta
{
    padding: 3em 5em;
}

.oferta .oferta_logos .ul_oferta
{
    display: flex ;
    justify-content: space-between;
}

.oferta .oferta_logos .ul_oferta .li_oferta
{
    list-style: none;
}

.oferta .oferta_logos .ul_oferta .li_oferta .earth
{
    width: 25em;
    height: 25em;
}

.oferta .oferta_logos .ul_oferta .li_oferta .oferta_img
{
    width: 13em;
    height: 13em;
    transition: all .5s;
}

.oferta .oferta_logos .ul_oferta .li_oferta .oferta_img:hover
{
    transform: translateY(1em);
}

.faq
{
    padding: 3em 5em;
}

.faq .faq_title
{
    padding-bottom: 3.8em;
}

.comentarios
{
    padding: 3em 5em;
}


.comentarios .comentarios_contenedor
{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.comentarios .comentarios_result
{
    margin-bottom: 3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 50%;
}

.result_h4
{
    color: var(--secondary-color);
}

.result_p
{
    color: var(--primary-color);
}

.contacto
{
    padding: 3em 5em;
    background-color: var(--secondary-color);
}


.contacto .contacto_title
{
    padding-top: 0;
    color: #fff;
    
}

.contacto .contacto_container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacto .social_media
{
    width: 50%;
}

.contacto .social_media .ul_contacto
{
    display: flex;
    flex-direction: column;
}

.contacto .social_media .li_contacto
{
    display: flex;
    align-items: center;
    list-style: none;
}

.contacto .social_media .li_contacto p
{
    color: #fff;
    margin-left: 1em;
}

.contacto .social_media .li_contacto .icon
{
    transition: all .2s  cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


.contacto .social_media .li_contacto .icon:hover
{
    transform: scale(1.2);
}

#map
{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

#markerWithExternalCss {
    background-image: url('./marker.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--primary-color);
    height: 3em;
}

.scroll-up
{
    width:30px;
    height: 30px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    position: fixed;
    bottom: -7%;
    right: 2em;
    transition: all .3s;
}

.scroll-up:hover
{
    transform: translateY(-7px);
}

.scroll-up.active
{
    bottom: 20px;
}

.scroll-up .img-scroll
{
    width: 30px;
}



