:root
{
    --primary-color: #61481C;
    --secondary-color: #A47E3B;
    --third-color: #BF9742;
    --fourth-color: #E6B325;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://i.pinimg.com/originals/4d/61/c0/4d61c0e963163694527178cd7f6fd541.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario
{
    padding: 1em 2em;
    background-color: rgba(8, 8, 8, 0.486);
    border-radius: .5em;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 190px;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
  }

  .button_inicio
  {
    color: lightblue;
    padding: 1em 1em;
    border-radius: 1em;
    border-color: lightblue;
    background-color: transparent;
    font-weight: bold;
  }

  button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: lightblue;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin:auto;
  }
  
  button:hover {
    background: lightseagreen;
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }
  

  #message
  {
    color: #fff;
    margin-top: 2em;
    padding: 0 5em;
  }